In [38]:
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
target = 3
print(f"{target} appears {numbers.count(target)} times.")

3 appears 3 times.

In [46]:
person = {"name": "kishore", "age": 19, "city": "tumkuru"}
person["country"] = "INDIA"
person["age"] = 18
print(person)

{'name': 'kishore', 'age': 18, 'city': 'tumkuru', 'country': 'INDIA'}